[user]
	name = Antonio Martin
	email = antoniomartinescalera@gmail.com

[includeIf "gitdir:~/projects/{{company}}/"]
    path = ~/projects/{{company}}/.gitconfig

[core]
	excludesfile = .gitignore_global
	autocrlf = input
	editor = vim
[http]
[push]
	default = simple
[color]
	ui = auto
[pager]
	branch = false
	log = false
[pull]
	rebase = true
