# 📁 Directories

alias cdp='cd ~/Proyects/'
alias cda="cdp; cd amartinescalera"
alias cdc='cdp; cd enjoySports
alias cdh='cdp; cd HelpCode
alias cds='cdp; cd sbd'
alias ll='ls -lah'
alias lla='ls -l'
alias vbox='VBoxManage'

# 📱 Apps

# Update process based on https://docs.brew.sh/FAQ
alias upda='brew update; brew outdated; brew upgrade; brew cleanup; mas upgrade'
