# 🗳 functions
searchWithGrep() {
    #Search using grep
    # mv "$1" "$1.bak"
    # cp "$2" "$1"
    history | grep $1
}



# 📁 Directories

alias cdp='cd ~/Projects/'
alias cda='cdp; cd amartinescalera'
alias cdd='cd ~/Developer'
alias cde='cdp; cd enjoySports'
alias cdh='cdp; cd HelpCode'
alias cdo='cdp; cd optima'
alias cdc='cdp; cd optima; cd coreCode'
alias cdwd='cd ~/Developer/wildfly-8.1.0.Final/standalone/deployments/'
alias cdws='/Users/amartin/Developer/wildfly-8.1.0.Final/bin'
alias cdz='cdp; cd private'
alias ll='ls -lah'
alias lla='ls -l'
alias vbox='VBoxManage'
alias oracle='open -n /Applications/Devs/SQLDeveloper.app'
alias myjava='/Library/Java/JavaVirtualMachines/'
alias k8s='minikube start --memory 2048'
alias k8stop='minikube stop'
alias mydocker='eval $(minikube docker-env)'
alias m='mvn clean install'
alias h='searchWithGrep'
alias reload='source ~/.bashrc'
alias myhelp='cat ~/.aliases'

# 📱 Apps

# Update process based on https://docs.brew.sh/FAQ
alias upda='brew update; brew outdated; brew upgrade; brew cleanup; mas upgrade'

# list and remove machineSnapshot
alias lstm='tmutil listlocalsnapshots /'
alias rmtm='tmutil deletelocalsnapshots'
