# 📁 Directories

alias cdp='cd ~/Projects/'
alias cda='cdp; cd amartinescalera'
alias cdd='cd ~/Developer'
alias cde='cdp; cd enjoySports'
alias cdh='cdp; cd HelpCode'
alias cdo='cdp; cd optima'
alias cdw='cd ~/Developer/wildfly-8.1.0.Final/standalone/deployments/'
alias cdz='cdp; cd private'
alias ll='ls -lah'
alias lla='ls -l'
alias vbox='VBoxManage'
alias oracle='open -n /Applications/Devs/SQLDeveloper.app'

# 📱 Apps

# Update process based on https://docs.brew.sh/FAQ
alias upda='brew update; brew outdated; brew upgrade; brew cleanup; mas upgrade'
