[user]
	name = Antonio Martin
	email = antoniomartinescalera@gmail.com

[core]
	excludesfile = $HOME/.gitignore_global
	autocrlf = input
	editor = vim
[http]
[push]
	default = simple
[color]
	ui = auto
[pager]
	branch = false
