[user]
	name = Antonio Martin
	email = antoniomartinescalera@gmail.com

[includeIf "gitdir:~/Projects/optima/"]
    path = ~/Projects/optima/.gitconfig

[core]
	excludesfile = .gitignore_global
	autocrlf = input
	editor = vim
[http]
[push]
	default = simple
[color]
	ui = auto
[pager]
	branch = false
	log = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Devs/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
